*{
  font-family: 'Reem Kufi Ink', sans-serif;
}
body{
  background-color: #222831;
}
.container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(8,12.5%);
  height: 100vh;
}
.home , .form , .exp{
  display: flex;
  background-color: #FFD369;
  margin: 20px;
  padding: 25px;
  align-items: center;
  flex-direction: column;

}
.home{
  grid-area: 1/1/5/6;
}
.exp{
 grid-area: 1/6/3/9;
}
.form{
  grid-area: 3/6/5/9;
}

h1{
  font-size: 3rem;
}
.exp , .form{

  justify-content: center;
}